/.rmv
/.vscode
/Problem set 2.vcxproj
/vc140.pdb
/Discm Problem Set 2.vcxproj
/Discm Problem Set 2 .vcxproj.user
/Discm Problem Set 2 .vcxproj.filters
/Discm Problem Set 2 .vcxproj
/Discm Problem Set 2 .sln
/x64
/Discm Pr.AA495362/x64
/.vs
/main.exe
